html {
    background-color: #1E1E1E;
    overflow-x: hidden;
}

*:not(input) {
    -webkit-user-select: none;
    user-select: none;
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('http://144.217.242.90:8080/fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg');
}

body,
textarea,
input,
select {
    background: 0;
    border-radius: 0;
    color: #D8D8D8;
    font-family: 'Open Sans', Arial;
    font-size: 16px;
    margin: 0
}

.addon,
.btn-sm,
.nav,
.subnav,
.footer,
textarea,
input,
select {
    outline: 0;
    font-size: 12px
}

.nav,
.subnav {
    font-size: 0px
}

.smooth {
    -webkit-transition: all .2s
}

.btn,
.footer a,
.nav a,
.subnav a {
    text-decoration: none
}

.container {
    margin: 0 10px 0 40px;
    width: auto;
}

.container-a {
    margin: 0 10px;
    width: auto;
}

.container-a img {
    margin: 0 auto 3px 18%;
}

.container-a h3 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid rgb(83, 83, 83);
    width: 100%;
}

.container-b {
    position: relative;
    margin-bottom: 5px;
}

.buttons {
    text-align: center;
}

.navcontainer {
    margin: 0 30px;
    width: auto;
}

.content {
    position: relative;
    border-radius: 3px;
    background-color: rgb(44, 44, 44);
    margin-top: 10px;
    border: 1px solid rgb(83, 83, 83);
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.20);
    padding: 8px 12px
}

.content div {
    display: inline-block
}

.icon {
    width: 12%;
    display: inline-block;
}

.icon img {
    height: 36px;
    width: 36px;
    border-radius: 5px;
    border: 2px solid rgba(100, 100, 100, 0.60);
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.20);
}

.icon .active {
    border: 2px solid rgb(218, 218, 218);
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.20);
}

.bookmark-icon {
    z-index: 9;
    position: absolute;
    top: 8px;
    left: 95%;
    color: rgba(255, 255, 255, 0.30);
    font-weight: 100;
}

.bookmarked {
    color: rgb(216, 145, 38);
}

.list {
    min-height: 40px;
}

.list-icon {
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 50%;
    content: "";
    height: 13px;
    width: 13px;
}

.activelist {
    background-color: rgba(255, 255, 255, 0.829);
}

.list-text {
    display: inline-block;
    font-size: 12px;
    max-width: 310px;
    word-wrap: break-word;
    vertical-align: middle;
}

.entry {
    vertical-align: top;
    width: 81%;
}

.btn {
    background: rgb(60, 60, 60);
    border-radius: 6px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 2px 0;
    padding: 6px 15px 7px
}

.btn:hover {
    background: #888
}

.btn:active,
.btn:focus {
    background: #777
}

.btn-a {
    background: #0ae
}

.btn-a:hover {
    background: #09d
}

.btn-a:active,
.btn-a:focus {
    background: #08b
}

.btn-b {
    background: #3c5
}

.btn-b:hover {
    background: #2b4
}

.btn-b:active,
.btn-b:focus {
    background: #2a4
}

.btn-c {
    background: #d33
}

.btn-c:hover {
    background: #c22
}

.btn-c:active,
.btn-c:focus {
    background: #b22
}

.btn-sm {
    border-radius: 4px;
    padding: 10px 14px 11px
}

label>* {
    display: inline
}

form>* {
    display: block;
    margin-bottom: 10px
}

textarea,
input,
select {
    border: 1px solid #ccc;
    padding: 8px
}

textarea:focus,
input:focus,
select:focus {
    border-color: #5ab
}

textarea,
input[type=text] {
    -webkit-appearance: none;
    width: 13em;
    outline: 0
}

input[type=number] {
    background-color: #1E1E1E;
}

.addon {
    box-shadow: 0 0 0 1px rgb(83, 83, 83);
    padding: 8px 12px
}

.nav .navcontainer {
    margin: 0;
}

.nav {
    /*box-shadow: 0 0 0 1px #ccc;*/
    z-index: 99;
    position: fixed;
    float: left;
    height: 100%;
    width: 30px;
    text-align: center;
    background-color: #252526;
}

.nav a {
    display: block;
    padding: 10px 0 10px 0;
    width: 100%;
    color: #aaa;
    position: relative;
    border-bottom: 1px solid rgb(20, 20, 20);
    top: -1px
}


.nav .pagename {
    font-size: 20px;
    top: 1px
}

.nav .current {
    background-color: rgb(30, 30, 30);
    color: #fff
}

.subnav {
    /*box-shadow: 0 0 0 1px #ccc;*/
    background-color: #252526;
    border-bottom: 1px solid rgb(20, 20, 20);
}

.subnav a {
    height: 20px;
    color: #aaa;
    padding-left: 0.3em;
    padding-right: 0.3em;
    position: relative;
    border-right: 1px solid rgb(20, 20, 20);
}

.subnav .pagename {
    font-size: 20px;
}

.subnav .current {
    background-color: rgb(63, 63, 63);
    color: #fff
}

.pagename:hover {
    background-color: #777;
}

.footer {
    margin-left: -30px;
    margin-top: 18px;
    margin-bottom: 15px;
    height: 20px;
}

.footer a {
    background-color: rgb(44, 44, 44);
    height: 20px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgb(83, 83, 83);
    padding: 8px 12px;
}

.footer .current {
    background-color: rgb(30, 30, 30);
    color: #fff
}

.footer .pagination {
    color: #aaa;
    font-weight: bold;
    font-size: 14px;
}

.footer .pagination:hover {
    background-color: rgb(60, 60, 60);
}

.table th,
.table td {
    font-size: 14px;
    padding: .2em;
    text-align: left
}

.table tbody>:nth-child(2n-1) {
    background: rgb(66, 66, 66)
}

.ico {
    font: 33px Arial Unicode MS, Lucida Sans Unicode
}

.filter {
    margin-top: 2px;
    width: auto;
}

.filter input {
    border: 0;
    border-bottom: 1px solid rgb(83, 83, 83);
    width: 80%;
    height: 29px;
}

.filter input:focus {
    color: #ffffff;
    outline: none;
    border-bottom: 1px solid #000000;
}

.separator {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(83, 83, 83);
}

.selected-sort {
    background-color: rgb(43, 43, 43);
    box-shadow: 0 0 0 1px rgb(83, 83, 83);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.slider-header {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid rgb(83, 83, 83);
    font-size: 20px;
    width: 100%;
}

.section h2{
    text-align: left;
    margin-bottom: 3px;
    font-size: 20px;
    width: 100%;
}

.section {
    width: 100%;
    border-bottom: 1px solid rgb(83, 83, 83);
    padding-bottom: 30px;
}

.section > .slider-container > btn {
    margin-right: 0;;
    margin-left: auto;
}

.app-slider {
    -webkit-appearance: none;
    vertical-align: middle;
    display: inline-block;
    width: 80%;
    height: 2px;
    padding: 0;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.app-slider:hover {
    opacity: 1;
}

.app-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgb(66, 66, 66);
    background: rgb(216, 145, 38);
    cursor: pointer;
}

.app-input {
    vertical-align: middle;
    width: 18%;
}

.slider-container p {
    margin-bottom: -15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    border-radius: 17px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(60, 60, 60);
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.switch-slider {
    background-color: rgb(189, 127, 34);
}

input:focus+.switch-slider {
    box-shadow: 0 0 1px rgb(189, 127, 34);
}

input:checked+.switch-slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.config-label {
    vertical-align: middle;
}

.config-slider {
    margin-top: 13px;
    width: 99%;
}

.equipped-slot {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    margin-left: 32px;
}

.equipped-slot-gear {
    position: absolute;
    top: 0;
    left: 356;
    width: 36px;
    height: 36px;
    margin-left: -32px;
}

.equipped-costume {
    border-radius: 5px;
    border: 2px solid rgba(100, 100, 100, 0.60);
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.20);
    background-size: 36px;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin-left: 32px;
}

.equipped-gear {
    position: absolute;
    border-radius: 5px;
    border: 2px solid rgba(100, 100, 100, 0.60);
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.20);
    background-size: 36px;
    background-repeat: no-repeat;
    top: 0;
    left: 85%;
    width: 36px;
    height: 36px;
    margin-left: -32px;
}

.dye-costume {
    border-radius: 5px;
    border: 2px solid rgba(100, 100, 100, 0.60);
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.20);
    background: url(http://144.217.242.90:8080/icons/dye_result_random_tex.png);
    background-size: 32px;
    position: absolute;
    top: 3;
    left: 46px;
    width: 32px;
    height: 32px;
    margin-left: 32px;
}

.dye-costume-slot {
    background-size: 32px;
    position: absolute;
    top: 3;
    left: 46px;
    width: 32px;
    height: 32px;
    margin-left: 32px;
}

.dye-gear {
    border-radius: 5px;
    border: 2px solid rgba(100, 100, 100, 0.60);
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.20);
    background: url(http://144.217.242.90:8080/icons/dye_result_random_tex.png);
    background-size: 32px;
    position: absolute;
    top: 3;
    left: 74%;
    width: 32px;
    height: 32px;
    margin-left: -32px;
}

.dye-gear-slot {
    background-size: 32px;
    position: absolute;
    top: 3;
    left: 74%;
    width: 32px;
    height: 32px;
    margin-left: -32px;
}

.dye-costume-popup {
    position: relative;
    visibility: hidden;
    z-index: 1;
}

.dye-costume-slot:hover .dye-costume-popup {
    visibility: visible;
    z-index: 1;
}

.dye-costume-popup .vc-chrome {
    position: absolute;
    top: 0px;
    left: 32px;
}

.dye-gear-popup {
    position: relative;
    visibility: hidden;
    z-index: 1;
}

.dye-gear-slot:hover .dye-gear-popup {
    visibility: visible;
    z-index: 1;
}

.dye-gear-popup .vc-chrome {
    position: absolute;
    top: 0px;
    left: -225px;
}

.vc-chrome-saturation-wrap {
    z-index: 1;
}

.tooltip-costume {
    position: relative;
    visibility: hidden;
    z-index: 1;
}

.tooltip-costume div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 168px;
    top: -9px;
    left: 64px;
}

.equipped-slot:hover .tooltip-costume {
    visibility: visible;
}

.tooltip-gear {
    position: relative;
    visibility: hidden;
    z-index: 1;
}

.tooltip-gear div {
    position: absolute;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 128px;
    top: -32px;
    left: -128px;
}

.equipped-slot-gear:hover .tooltip-gear {
    visibility: visible;
}

.swapper {
    background-image: url(http://144.217.242.90:8080/slots/swap.png);
    background-size: 36px;
    position: absolute;
    top: 0px;
    left: 160px;
    height: 36px;
    width: 36px;
}

.equipped-headers h2 {
    margin: 0 -40px 0 0;
    display: inline-block;
    width: 49%;
}

.gear-header {
    text-align: right;
}

.nametag input {
    width: 100%;
}

.vc-chrome {
    padding: 20px;
    background-color: #fff;
}

.dropbtn {
    text-align: center;
    font-size: 14px;
    padding: 4px 0;
    border: 0;
    margin: 0;
    display: inline-block;
    min-width: 95px;
    background-color: rgb(51, 51, 51);
}

.body-bar .dropbtn {
    border-bottom: rgb(66, 66, 66);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-size: 14px;
    background-color: rgb(66, 66, 66);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    width: 100%;
    display: block;
}

.dropbtn:hover {
    background-color: rgb(60, 60, 60);
}

.dropdown-content .dropdown-item:hover {
    background-color: rgb(46, 46, 46);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropconfig {
    width: 100%;
}

.dropconfig-content {
    min-width: 338px;
}

.body-bar {
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.10);
    border: 1px solid rgb(66, 66, 66);
    border-top: 0;
    font-size: 0;
    width: 100%;
    height: auto;
}

.theme-bar {
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.10);
    border: 1px solid rgb(66, 66, 66);
    border-top: 0;
}

.gender {
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

.genderlabel {
    position: relative;
    padding-left: 30px;
}

.genderlabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
}

.genderlabel:hover input~.checkmark {
    background-color: rgb(90, 90, 90);;
}

.genderlabel input:checked~.checkmark {
    background-color: rgb(189, 127, 34);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.genderlabel input:checked~.checkmark:after {
    display: block;
}

.genderlabel .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(60, 60, 60);
}

.logo {
    height: 100%;
    background-image: url(http://144.217.242.90:8080/slots/unicast.png);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 100% 98%;
}